## CRLF
*.bat	text eol=crlf
*.cmd	text eol=crlf

## LF
*.gitattributes	text	eol=lf
*.gitignore		text	eol=lf
*.sh			text	eol=lf
*.yml			text	eol=lf
*.yaml			text	eol=lf
*.md			text	eol=lf
*.properties	text	eol=lf
*.conf			text	eol=lf

*.java			text	eol=lf
*.kt			text	eol=lf
*.kts			text	eol=lf
*.py			text	eol=lf
*.php			text	eol=lf
*.css			text	eol=lf
*.js			text	eol=lf
*.htm			text	eol=lf
*.html			text	eol=lf
*.xml			text	eol=lf
*.txt			text	eol=lf
*.ini			text	eol=lf
*.inc			text	eol=lf
.htaccess		text	eol=lf
Dockerfile		text	eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary

# Auto detect	text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
*			text=auto

# Documents
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.docm	diff=astextplain
*.DOCM	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.dotx	diff=astextplain
*.DOTX	diff=astextplain
*.dotm	diff=astextplain
*.DOTM	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
*.ods	diff=astextplain
*.ODS	diff=astextplain
*.odf	diff=astextplain
*.ODF	diff=astextplain
*.odt	diff=astextplain
*.ODT	diff=astextplain
